name: Purge jsDelivr cache

on:
  push:
    branches:
      - main

jobs:
  purge:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3   # <-- this is required

      - name: Get changed files
        id: files
        uses: tj-actions/changed-files@v44

      - name: Purge jsDelivr cache
        run: |
          for file in ${{ steps.files.outputs.all_changed_files }}; do
            echo "Purging $file"
            curl -X POST "https://purge.jsdelivr.net/gh/${{ github.repository }}@main/$file"
          done
